asgiref==3.9.1
certifi==2025.8.3
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
distlib==0.4.0
Django==5.2.5
djlint==1.36.4
EditorConfig==0.17.1
filelock==3.19.1
jsbeautifier==1.15.4
json5==0.12.1
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
pipenv==2025.0.4
platformdirs==4.4.0
PyYAML==6.0.2
regex==2025.9.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
virtualenv==20.34.0